
  @media screen and (min-width: 480px) {

body {
    background-color: #F6E7D2;
    padding: 50px;
}
h2 {
    font-weight: bold;
    color: #01B6AD;
    font-size: .95em;
    font-weight: 250;
    line-height: 2.3;
    text-transform: uppercase;
  }

  button {
    background-color: rgb(255, 255, 177);
    font-weight: 700;
  }
  
  .top-skill li {
    background-color: #FFFFFF;
    padding: 10px;
    background: #0A4958;
    list-style-type: circle;
    border-radius: 5px;
    margin: 45px auto;
    box-sizing: border-box;
  }
  #skills li {  
  color: rgb(0, 0, 0);
	padding: 15px;
	margin: 5px;	
	background: #fff;
  display: inline-block;
  width: 10em
	}



  .main-nav li {
   display: inline;
   margin-top: 5px;
   padding: 25px;
   text-transform: uppercase;
  } 

  .massage {
    border: 1px solid;
    padding: 5px;
    box-shadow: 5px 10px #adacac;
  }

  #leave {
      font-size: 15px;
      color: #0A4958;
      font-weight: 900;
      line-height: 2.3;
  }
 /* footer{
      background-color: #0A4958;
      color: #FFFFFF;

  } */


}

@media (min-width: 769px) {
 .main-header, 
 .main-nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-direction: row;
 }

}

